extends ./layout

block body

  nav(class="navbar navbar-default navbar-static-top")
    div(class="container")
      div(class="navbar-header")
        a(class="navbar-brand" href="#") Tomato Goals

      div(id="navbar" class="navbar-collapse collapse")
        ul(class="nav navbar-nav navbar-right")
          li
            a(href="#setting")  Setting
          li
            a(href="#faq")  FAQ
            
  div(class="container-fluid")
    div(class="row")
      div(class="btn-group btn-group-justified" role="group")
        div(class="btn-group" role="group")
          button(type="button" class="btn btn-info" id="pomodoro") Pomodoro
        div(class="btn-group" role="group")
          button(type="button" class="btn btn-info" id="short-break") Short Break  
        div(class="btn-group" role="group")
          button(type="button" class="btn btn-info" id="long-break") Long Break

    div(class="row")
      button(type="button" class="btn btn-success btn-lg col-md-2 col-md-offset-3" id="start") Start
      button(type="button" class="btn btn-danger btn-lg col-md-2" id="stop") Stop
      button(type="button" class="btn btn-default btn-lg col-md-2" id="reset") Reset

    div(class="row" id="countdown" class="text-center")
      
    div(class="row")  
      div(class="panel panel-default col-md-5 col-md-offset-1")
        div(class="panel-heading")  Keyboard Shortcuts
        div(class="panel-body")
          dl(class="dl-horizontal")
            dt SPACE
            dd Start or Stop the timer
            dt ALT + P  
            dd Pomodoro
            dt ALT + S  
            dd Short Break
            dt ALT + L  
            dd Long Break
            dt ALT + R 
            dd Reset Timer


      div(class="panel panel-default col-md-5")
        div(class="panel-heading")  Notifications
        div(class="panel-body" id="notifications-panel")
