extends ./layout

block body

  nav(class="navbar navbar-default navbar-static-top")
    div(class="container")
      div(class="navbar-header")
        a(class="navbar-brand" href="#") Tomato Goals

      div(id="navbar" class="navbar-collapse collapse")
        ul(class="nav navbar-nav navbar-right")
          li
            a(href="#setting")  Setting
          li
            a(href="#faq")  FAQ
  div(class="container")
    
